/* Global styles */

:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #455d70eb;
    --bg-secondary: #031125d0;
}


html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-content-flex {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background: -webkit-linear-gradient(to top,
            #000000,
            #100e66);
    background: linear-gradient(to top,
            #000000,
            #110d50);
    background-size: 100%;
}

.article-card-flex {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 250px;
    margin-left: 80px;
}

.article-col-flex {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-left: 550px;
    margin-right: 50px;
}

.navbar {
    padding: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.61);
    border: 1px solid rgba(255, 255, 255, 0.048);
    position: fixed !important;
    z-index: 2;
}


.card-body {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    padding: 2rem;
}



.article-header-container {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.article-container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.575);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.articles-card-header-container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.562);
    border: 1px solid rgba(100, 86, 86, 0.068);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.article-card-container {
    background: -webkit-linear-gradient(to top,
            #000000,
            #100e66);
    background: linear-gradient(to bottom,
            #660bcec7,
            #3671f0e0);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    width: 20%;
    position: fixed;
    margin-top: 19px;
}

.articles-icon {
    background-image: url('/svg/journals.svg');

}

.article-title {
    font-size: 36px;
    font-weight: bold;
}

.article-card-title {
    font-size: 20px;
}

.article-meta {
    font-size: 14px;
    color: #888;
}

.article-paragraph {
    border-radius: 5px;
    color: #fff;
    padding: 10px;

}

.card-content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.articles-card-paragraph {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.562);
    border: 1px solid rgba(100, 86, 86, 0.068);
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin-bottom: 2px;

}

/*.glass-card{
    backdrop-filter: blur(75px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.822);
    border: 1px solid rgba(143, 141, 141, 0.068);
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    position: fixed;
    margin-top: 19px;
}
*/

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}


.footer {

    color: #fff;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;

}

.spacer-nav {
    aspect-ratio: 960/40;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.spacer-body {
    aspect-ratio: 960/300;
    width: 100%;
    background-position: center;
    background-size: cover;
}



.spacer-footer {
    aspect-ratio: 960/40;
    width: 100%;
    background-position: center;
    background-size: cover;
}

/*.layer-nav {
    background-image: url('/svg/layer-nav10.svg');
    
}*/

.layer-body {
    background-image: url('/svg/layer2.svg');
}

.Layer-footer {
    background-image: url('/svg/layer-footer.svg');
}

.nav-toggler-icon {
    background-image: url('/svg/nav-toggler-icon.svg');
}

/* Responsive styles */

@media screen and (min-width: 1040px) {
    .navbar-brand {
        font-size: 20px;
    }

    .nav-link {
        font-size: 14px;
    }
}