/* Global styles */

body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background: #333;
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles */

.header {
    background-color: #4c5864;
}

.navbar {
    background-color: #58636fe9;
    margin-bottom: 20px;
}

/* Main content styles */

.main {
    padding: 20px;
}

.bg-color {
    background-color: #293732;
}

.card-body {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    padding: 2rem;
}

.article-header-container {
    background-color: #282d32;
    color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.article-container {
    /*background-image: url('/svg/layer-nav6.svg');
    background-size: cover;
    */
    background-color: #74a98e9e;
    border-radius: 0.5rem;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-title {
    font-size: 36px;
    font-weight: bold;
}

.article-meta {
    font-size: 14px;
    color: #888;
}

.article-paragraph {
    margin-bottom: 4px;
    padding: 10px;
    color: #ffffff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.container-text {
    background-color: #282d32;
    border-radius: 8px;
}

.footer {
    background-color: #152520;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.spacer-nav {
    aspect-ratio: 960/40;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.spacer-body {
    aspect-ratio: 960/300;
    width: 100%;
    background-position: center;
    background-size: cover;
}



.spacer-footer {
    aspect-ratio: 960/40;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.layer-nav {
    background-image: url('/svg/layer-nav8v4.svg');
}

.layer-body {
    background-image: url('/svg/layer2.svg');
}

.Layer-footer {
    background-image: url('/svg/layer-footer.svg');
}

/* Responsive styles */

@media screen and (max-width: 767px) {
    .navbar-brand {
        font-size: 20px;
    }

    .nav-link {
        font-size: 14px;
    }
}