@import 'article-style.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.user-form {
    width: 550px;
    min-width: 550px;
    margin-bottom: 200px;
}

.card-flex {
    display: flex;
    flex-direction: column;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.update-btn {
    background: rgba(109, 121, 187, 0.232);
    padding: 10px 15px;
    border-radius: 22px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(10, 10, 10, 0);
    width: fit-content;
    margin-top: 10px;
    color: #ffffff;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;

}