/* Global styles */
body {
    background-color: #f8f9fa;
}

.header {
    background-color: #4c5864;
    color: #fff;

}

.navbar {
    background-color: #4c5864;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

/* Login page styles */
.login-form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.form-group-spacing {
    margin-bottom: 20px;
}

/* Forgot password page styles */
.forgot-password-form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Sign up page styles */
.sign-up-form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}